# - Ask questions

# - Data Cleaning (Gather, Assess, Clean) Steps:

- Check Null values , Duplicated values
- Check Data Types
- check outliers
- check tidiness

# Gather

In [1]:
import pandas as pd

# Read column names from COL_Names.txt file
col_names = ['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration', 'num-of-doors', 
             'body-style', 'drive-wheels', 'engine-location', 'wheel-base', 'length', 'width', 
             'height', 'curb-weight', 'engine-type', 'num-of-cylinders', 'engine-size', 
             'fuel-system', 'bore', 'stroke', 'compression-ratio', 'horsepower', 'peak-rpm', 
             'city-mpg', 'highway-mpg', 'price']

# Read data from Wrangling data.txt file
data = pd.read_csv('Wrangling data.txt', header=None, dtype=str)

# Assign column names to the DataFrame
data.columns = col_names[:data.shape[1]]  # التأكد من أن عدد الأعمدة متطابق

# Convert types for each column based on content
for col in data.columns:
    # Try to convert values to numbers (if possible)
    data[col] = pd.to_numeric(data[col], errors='ignore')
    
    # Trying to determine the data type automatically
    data[col] = data[col].infer_objects()

# Save data as a CSV file
csv_path = 'Wrangl_data_full.csv'
data.to_csv(csv_path, index=False)

# Assess

In [2]:
from IPython.display import display
   
display(data)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [3]:
data.shape

(205, 26)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       205 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               205 non-null    object
 19  stroke             205 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         205 non-null    object
 22  peak-rpm           205 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              205 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

In [5]:
data.duplicated().sum()

0

In [6]:
# Find values that are "?"
data_is_question_mark = data.applymap(lambda x: x == '?')

# Get columns that contain "?"
columns_with_question_mark = data_is_question_mark.any()

# Print column names that contain "?"
print(data.columns[columns_with_question_mark].tolist())

['normalized-losses', 'num-of-doors', 'bore', 'stroke', 'horsepower', 'peak-rpm', 'price']

In [7]:
data.describe()

,symboling,wheel-base,length,width,height,curb-weight,engine-size,compression-ratio,city-mpg,highway-mpg
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,10.142537,25.219512,30.751220
std,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,3.972040,6.542142,6.886443
min,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,7.000000,13.000000,16.000000
25%,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,8.600000,19.000000,25.000000
50%,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,9.000000,24.000000,30.000000
75%,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,9.400000,30.000000,34.000000
max,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,23.000000,49.000000,54.000000

#### Quality

- price is int not object
- stroke is float not object
- bore is float not object
- horsepower is int not object
- peak-rpm is int not object
- normalized-losses is int not object
- tables normalized-losses , num-of-doors , bore , stroke , horsepower , peak-rpm , price contains (?)

#### Tidiness

- NO Tidiness issues

# Clean

###### Define: convert data types for columns ['price', 'stroke', 'bore', 'horsepower', 'peak-rpm', 'normalized-losses']

###### Code

In [8]:
import pandas as pd

# List of columns that need to be converted to numeric data types
columns_to_convert = ['price', 'stroke', 'bore', 'horsepower', 'peak-rpm', 'normalized-losses']

# Loop through each column in the list to convert them
for column in columns_to_convert:
    # If the column is 'price', convert it to Int64 (integer), coercing errors to NaN for non-numeric values
    if column == 'price':
        data[column] = pd.to_numeric(data[column], errors='coerce').astype('Int64')
    else:
        # For other columns, convert values to float, coercing errors to NaN for non-numeric values
        data[column] = pd.to_numeric(data[column], errors='coerce')

# Change data types for each column
data['normalized-losses'] = data['normalized-losses'].astype('Int64')
data['bore'] = data['bore'].astype(float)
data['stroke'] = data['stroke'].astype(float)
data['horsepower'] = data['horsepower'].astype('Int64')
data['peak-rpm'] = data['peak-rpm'].astype('Int64')
data['price'] = data['price'].astype('Int64')

###### Test

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  164 non-null    Int64
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       205 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               201 non-null    float64
 19  stroke             201 non-null    float64
 20  compression-ratio  205 non-null    float64
 21  horsepower         203 non-null    Int64
 22  peak-rpm           203 non-null    Int64
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              201 non-null    Int64
dtypes: Int64(4), float64(7), int64(5), object(10)
memory usage: 42.6+ KB

In [10]:
data.isnull().sum()

symboling             0
normalized-losses    41
make                  0
fuel-type             0
aspiration            0
num-of-doors          0
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  4
stroke                4
compression-ratio     0
horsepower            2
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 4
dtype: int64

###### Define: find (41 missing values in normalized-losses column, 4 missing values in bore column, 4 missing values in stroke column, 2 missing values in horsepower, 4 missing values in price) we need to drop any missing values

###### Code

In [11]:
data = data.dropna()

###### Test

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 160 entries, 3 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          160 non-null    int64
 1   normalized-losses  160 non-null    Int64
 2   make               160 non-null    object
 3   fuel-type          160 non-null    object
 4   aspiration         160 non-null    object
 5   num-of-doors       160 non-null    object
 6   body-style         160 non-null    object
 7   drive-wheels       160 non-null    object
 8   engine-location    160 non-null    object
 9   wheel-base         160 non-null    float64
 10  length             160 non-null    float64
 11  width              160 non-null    float64
 12  height             160 non-null    float64
 13  curb-weight        160 non-null    int64
 14  engine-type        160 non-null    object
 15  num-of-cylinders   160 non-null    object
 16  engine-size        160 non-null    int64
 17  fuel-system        160 non-null    object
 18  bore               160 non-null    float64
 19  stroke             160 non-null    float64
 20  compression-ratio  160 non-null    float64
 21  horsepower         160 non-null    Int64
 22  peak-rpm           160 non-null    Int64
 23  city-mpg           160 non-null    int64
 24  highway-mpg        160 non-null    int64
 25  price              160 non-null    Int64
dtypes: Int64(4), float64(7), int64(5), object(10)
memory usage: 34.4+ KB

In [13]:
data.isnull().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [14]:
data.shape

(160, 26)